@model List<j64.AlarmServer.WebApi.Model.LogMessage>
<table class="table table-hover">
    @foreach (var msg in Model)
    {
        <tr>
            <td>
            <div style="overflow-x:auto">
                @if (msg.Type == "ERROR") { <i class='fa fa-exclamation-triangle' style='color:red'></i> } 
                @msg.Date <br/>
                @if (msg.Direction == "in") { <i class='fa fa-long-arrow-right'></i> }
                @if (msg.Direction == "out") { <i class='fa fa-long-arrow-left'></i> }
                @msg.Message</div></td>
        </tr>
    }
</table>
