@model List<j64.AlarmServer.WebApi.Model.LogMessage>
@{
    ViewData["Title"] = "View Log";
}
<table class="table table-hover">
    <tr class="info">
        <th>Msg&nbsp;Type</th>
        <th>Date/Time</th>
        <th>Message</th>
    </tr>
    @foreach (var msg in Model)
    {
        <tr>
            <td>@msg.Type</td>
            <td style="white-space: nowrap">@msg.Date</td>
            <td><div style="max-width: 600px;overflow-x:auto">@msg.Message</div></td>
        </tr>
    }
</table>
