@{
    ViewData["Title"] = "Unauthorized Access";
}
    
<hgroup>
    <h1 class="text-primary">Unauthorized Access.</h1>
    <p>You are not authorized to perform that function.  Sign in as the admin to arm, disarm or configure the application.</p>
</hgroup>
