@model j64.AlarmServer.WebApi.Models.OauthInfo
@{
    ViewData["Title"] = "Authorized Page";
}

<div class="panel panel-default">
    <div class="panel-heading">  
        OAuth Results
    </div>
    <div class="panel-body">
        @if (ViewData["GetTokenError"] != null)
        {
                <i class='fa fa-exclamation-triangle' style='color:red'></i>&nbsp;&nbsp;
            <p>
                Something went wrong during the authorization process and an access token was not received.  <br/>
                The HTTP Error was: @ViewData["GetTokenError"]
            </p>
        }
        else
        {
            <i class="fa fa-check-circle" style='color:green'></i>
            <p>Your app was successfully authorized and an access token has been saved to your SmartThing.json config file.  
            Your security system will not start synchronizing with the smart thing devices.</p>
        }
    </div>
</div>

