@model j64.AlarmServer.WebApi.Model.OauthInfo
@{
    ViewData["Title"] = "Authorize Your Smart App";
}


<form asp-controller="OAuth" asp-action="BeginAuth" method="post">
    @if (String.IsNullOrEmpty(Model.accessToken))
    {
        <p>You have already obtained an authorization key.  If you want to create a new
           key, you can just run through process again otherwise it is not necessary.</p>    
    }

    <div class="form-group">
        <label asp-for="clientKey">SmartApp Client Key</label>
        <input asp-for="clientKey" class="form-control" placeholder="smartapp client key" />
    </div>
    <div class="form-group">
        <label asp-for="secretKey">SmartApp Secret Key</label>
        <input asp-for="secretKey" class="form-control" placeholder="smartapp secret key" />
    </div>
    <button class="btn btn-warning" type="submit">Begin Authorization</button>
</form>

