 @model j64.AlarmServer.WebApi.Models.AlarmSystemInfo
@{
    ViewData["Title"] = "Documentation";
}
    <h1>Overview</h1>
    <p>Describe each of the parts/pieces
        <ol>
            <li>Envisalink</li>
            <li>DSC Security System</li>
            <li>j64 Server</li>
            <li>Smart Things Hub</li>
            <li>Smart Things Cloud</li>
        </ol>
    </p>
    <h1>Installation Steps</h1>
   <p>
        <ol>
            <li>Install your envisalink controller</li>
            <li>Verify you can access the envisalink</li>
            <li>Download & Install j64 Alarm Server</li>
            <li>Launch j64 Site</li>
            <li>Define Partitions & Zones</li>
            <li>Sign up for Smart Things Developer Account</li>
            <li>Install Smart App</li>
            <li>Get a Client Key for the Smart App</li>
        </ol>
    </p>
        <h1>Common Issues</h1>
   <p>
        <ol>
            <li>Envisalink Wont Connect</li>
            <li>Smart App Wont Install</li>
        </ol>
    </p>